<!DOCTYPE HTML>
<html>
<head>
    <title>Coordinate Finder</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Please input your coordinates</h1>
  <form action="#" th:action="@{/coordinates}" th:object="${inputCoords}" method="post">
    <p>Latitude: <input type="text" th:field="*{gc_lat}" /></p>
    <p>Longitude: <input type="text" th:field="*{gc_long}" /></p>
    <p>Direction:
      <select name="dir" th:field="*{gc_dir}">
        <option value="N">North</option>
        <option value="S">South</option>
      </select>
    </p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
  </form>
</body>
</html>
